<%- include('partials/header') %>
<div class="box">
    <h1>Register</h1>

    <div class="sign-up">
        <div class="card social-block">
        <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
            </a>
        </div>
        </div>
    </div>

</div>

<%- include('partials/header') %>
